doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
    script(src="/socket.io/socket.io.js")
    title Awesome Quiz
  body 

    div#quiz
      p#question
      
      button(onclick=`buttonClick("key0")` id=`key0`)
      button(onclick=`buttonClick("key1")` id=`key1`)
      button(onclick=`buttonClick("key2")` id=`key2`)
      button(onclick=`buttonClick("key3")` id=`key3`)

      h3#username= username

      p#points 0

      p#round This is question 1 of 3

    div#pause
      h3 Next game in: 
      h1#countdown

      ul#scores 

    script
      include ../public/quiz.js